# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANUAL

# PyInstaller
# For more information, see https://github.com/pyinstaller/pyinstaller/wiki/Recipe-VCS
*.manifest
*.spec
_cffi_*.o
_cffi_*.c
_cffi_*.ff
_cffi_*.h
*.pyz

# Environments
.env
.venv
env/
venv/
ENV/

# Database
db.sqlite3

# Django media files
backend/media/

# Django migrations
backend/deals/migrations/

# Node / Frontend
frontend/node_modules/
frontend/package-lock.json

# Other
.DS_Store